@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

body {
    background: rgb(75, 73, 73);
    width: 70%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

div h2 {
    border-bottom: 3px solid #3f1246;
    padding-bottom: 10px;
}

.headergabungan {
    position: fixed;
    width: 70%;
    padding-top: 1px;
    margin: auto;
    z-index: 10;
}

.headerhijau {
    background-color: #14aa2b;
    padding: 7px 0px;
    border: 3px solid #17c431;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

.headerungu {
    background-color: #623269;
    padding: 3px 0px;
    border-bottom: 3px solid #17c431;
    border-right: 3px solid #17c431;
    border-left: 3px solid #17c431;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 9px;
    overflow: hidden;
    background-color: #623269;

}
  
  li {
    float: left;
}
  
  li a {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

li a img {
    width: 25px;
    vertical-align: middle;
    image-orientation: initial;
}

strong {
    padding: 3px 3px;
    vertical-align: middle;
}

nav ul li a:hover:not(.active) {
    background-color: #3f1246 ;
}


.container {
    position: relative;
    top: 64px;
    height: 150px;
    background-image: url(./img/terong\ ungu.jpg);
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    border: 3px solid #17c431;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 3;
}


.container h1 {
    vertical-align: top;
    font-size: 90px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 55px;
    text-shadow: 3px 4px black;

}

.container h1 img {
    width: 140px;
    position: relative;
    vertical-align: middle;
        
}

.latar {
    background-color: #623269;
    position: relative;
    top: 55px;
    border: 3px solid #14aa2b;
    text-align: justify;
    padding: 0 30px 40px 30px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 378px;

}

.latar p {
    padding: 0px 30px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    text-indent: 35px;
}

.latar h2 {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 0.5px;

}

.varianterong {
    padding-top: 0;
    padding-left: 30px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    position: relative;
    top: 40px;
    height: 700px;
    line-height: 1; 
    align-content: center;
    border: 3px solid #14aa2b;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #623269;

}

.varian {
    padding-top: 0;
    position: relative;
    float: left;
    margin: 2% 2%;
}

a .terongungu {
    position: relative;
    text-align: center;
    color: white;
}

 .terong1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Libre Baskerville, bold" ;
    font-size: large;
    color: #e27ef1;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

 .terongungu img  {
    height: 250px;
    width: 250px;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    text-align: center;
         
}

.terongungu img:hover {
    -webkit-filter: none;
    filter: none;
    text-decoration: none;
    height: 244px;
    width: 244px;
    border: 3px solid #3f1246;
    border-radius: 30px;
    font-size: 1.5em;
}

.benefit {
    position: relative;
    top: 35px;
    width: 100%;
    margin: auto;
    align-content: center;
    height: 1080px;
    background: #623269;
    border: 3px solid #14aa2b;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

}

.keuntungan {
    position: relative;

}

.benefit .keuntungan, .kotak p, .benefit, .formsos h2, .h2latar, .latar2 {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}


.kotak {
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 350px;
    text-align: center;
    border: 7px solid black;
    background: rgb(180, 176, 176);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 20px 30px;
    margin: 50px 70px 30px 100px;
    float: left;
}

i {
    font-size: 100px;
    width: 120px;
    height: 120x;
    border: 5px double black;
    padding: 10px;
    border-radius: 9px;
}

.formsos {
    position: relative;
    height: 800px;
    width: 100%;
    border: 3px solid #14aa2b;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background: #623269;
    float: left;
    align-content: center;
}



.formulir {
    border: 2px solid #3f1246;
    background-color: #e27ef1;
    width: 345px;
    margin: 30px 40px;
    padding: 30px 15px;
    float: left;
}

.gambarakhir {
    padding-top: 33px;
    border: 2px solid #3f1246;
    background-color: #e27ef1;
}
.gambarakhir img {
    width: 300px;
    height: 200px;
    padding: 0px 40px 10px 40px;
}
.footergabungan {
    position: fixed;
    width: 70%;
    margin: auto;
    bottom: 0;
    padding-bottom: 1px;
    z-index: 10;
}

.footerungu {
    background-color: #623269;
    padding: 25px 0px 0px 0px;
    border: 3px solid #17c431;

}

.footerhijau {
    background-color: #14aa2b;
    padding: 7px 0px;
    border-bottom: 3px solid #17c431;
    border-right: 3px solid #17c431;
    border-left: 3px solid #17c431;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.headerunguwelcome {
    background-color: #623269;
    padding: 3px 0px 40px 0px;
    border-bottom: 3px solid #17c431;
    border-right: 3px solid #17c431;
    border-left: 3px solid #17c431;
}

.terong12 {
    font-family: "Libre Baskerville, bold" ;
    font-size: large;
    color: #e27ef1;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.terongterong {
    width: 350px;
    height: 300px;
}

.deskripsiterong {
    background: #623269;
    text-align: justify;
    padding: 30px 40px 30px 30px;
}

