body {
    background: rgb(75, 73, 73);
    width: 70%;
    margin: auto;
}


.headergabungan {
    position: fixed;
    width: 70%;
    padding-top: 1px;
    margin: auto;
    z-index: 10;
}

.headerhijau {
    background-color: #14aa2b;
    padding: 7px 0px;
    border: 3px solid #17c431;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;

}

.headerungu {
    background-color: #623269;
    padding: 3px 0px;
    border-bottom: 3px solid #17c431;
    border-right: 3px solid #17c431;
    border-left: 3px solid #17c431;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 9px;
    overflow: hidden;
    background-color: #623269;

  }
  
  li {
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

li a img {
    width: 25px;
    vertical-align: middle;
    image-orientation: initial;
}

strong {
    padding: 3px 3px;
    vertical-align: middle;
}

nav ul li a:hover:not(.active) {
    background-color: #3f1246 ;
}


.container {
    position: relative;
    top: 65px;
    height: 170px;
    background-image: url(./img/terong\ ungu.jpg);
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    border: 3px solid #17c431;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 3;
}


.container h1 {
    vertical-align: top;
    font-size: 90px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 40px;
    text-shadow: 3px 4px black;

}

.container h1 img {
    width: 140px;\
    position: relative;
    vertical-align: middle;
        
}

.latar {
    background-color: #623269;
    position: relative;
    top: 40px;
    border: 3px solid #14aa2b;
    text-align: justify;
    padding: 0 30px 40px 30px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

}

.latar p {
    padding: 0px 30px;
    word-spacing: 1px;
    letter-spacing: 0.5px;
    text-indent: 35px;
}

.latar h2 {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 0.5px;

}

.varian {
    position: relative;
    top: 40px;
    border: 3px solid #14aa2b;
    padding: 0px 30px;
    background-image
}

.varianterong {
    display: flex;
    background-color: #cc47cc;
  }
  
  .varianterong > .varian {
    background-color: #cc47cc;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  

.footergabungan {
    position: fixed;
    width: 70%;
    margin: auto;
    bottom: 0;
    padding-bottom: 1px;
    z-index: 10;
}


.footerungu {
    background-color: #623269;
    padding: 25px 0px 0px 0px;
    border: 3px solid #17c431;

}

.footerhijau {
    background-color: #14aa2b;
    padding: 7px 0px;
    border-bottom: 3px solid #17c431;
    border-right: 3px solid #17c431;
    border-left: 3px solid #17c431;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

}